.content {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 800px;
    background-color: antiquewhite;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.links a {
    text-decoration: none;
    color: darkgray;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}